/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
composer.lock
.idea/*
public/documents/*
public/marketplace/big/*
public/marketplace/detailThumbs/*
public/marketplace/thumbs/*
